#catName {
    font-size: 23px;
    margin-right: 5px;
    margin-top: 20px;
}

#sect1, #sect2 {
    text-align: center;
    font-family: "Times New Roman";
}

body {
    background-color: #d5efff;
}

#table1, #table2 {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:100px;
    border: 1px;
    font-size: 23px;
}

#currentGrade {
    font-size: 30px;
}



